body {
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Adjustments for small screens */
@media screen and (max-width: 768px) {
  .table-container {
    width: 95%; /* Adjust the width as needed */
    max-width: none;
    margin: 20px auto;
    margin-top: 75px;
    overflow-x: auto;
  }
}

.table-container {
  width: 125%; 
  max-width: 1000px; 
  height: 400px;
  margin: 20px auto;
  border: 3px solid  #003366;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  background: linear-gradient(to right,  #003366, #585151);
  margin-bottom: 40px;
  overflow-x: auto;
  position: relative;
}

.table-container h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 5px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 90px;
}

.custom-table th,
.custom-table td {
  border: 2px solid #000;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #0c0a0a;
  color: #fff;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .custom-table th,
  .custom-table td {
    font-size: 12px;
  }
}
